# Project place file
/ROJO-SRC.rbxlx
/default.project.json
/src
/ServerPackages
/Packages
/sync/ReplicatedStorage/Packages
/sync/ServerScriptService/ServerPackages

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json
